node_modules
npm-debug.log
.git
.gitignore
.github
.idea
.vscode
.DS_Store
coverage
dist
.test-cache-*
.env
.env.local
cache/images/*
docs
examples
*.md
.nyc_output
jest.config.js
tsconfig.json
src
public
Dockerfile
docker-compose.yml
.dockerignore
*.iml
